<div class ="personal-info">

<center>
<h1>RAZA CHANDIWALA</h1>
<h3>
10 Bloorview PL, Suite 213<br>
North York, ON M2J 0B1<br>
416-722-0942<br>
rachandiwala@gmail.com
</h3>
</center>
<br>
<br>

<pre>
<b><u>OBJECTIVE:</u></b>
To provide support for an organization that will grant me an opportunity to apply, and further develop<br>my skills while making a positive contribution as a performance oriented employee.


<u><b>SUMMARY OF QUALIFICATIONS</b></u>

• Detail-oriented individual with 5 years’ experience in fast-paced environments
• Extensive knowledge of operating systems, data communications, network design, and web server installation and maintenance
• Strong knowledge of Apple and Android devices and Operating Systems
• Strong communication skills to work professionally with people at all levels
• Able to multi-task, prioritize and meet time-sensitive deadlines
• Adapts easily to new concepts and responsibilities
• A valid G Class License and reliable vehicle


<u><b>EDUCATION</b></u>

<b>Computer Systems Technology (3 Yrs. Advanced Diploma) Seneca College, Toronto, ON 2014</b>
Relevant courses include: 
Operating Systems Using Windows, UNIX, Linux, Advanced Data Communications Technology, Scripting and PowerShell, Network Diagnostics and Design

<b>Web Development (9 Weeks Bootcamp) Bitmaker Labs, Toronto ON 2015</b>
Relevant courses include:
HTML, CSS, JavaScript, UNIX, Ruby on Rails (RoR), GitHub


<b><u>TECHNICAL SKILLS and KNOWLEDGE</u></b>

Networking:  DNS, WSUS, TCP/IP, DHCP, Samba, NFS and auto-mounter, SMTP (Sandmail,       Postfix), iptables/Firewalld, SSH, Packet and Circuit Switching, WAN Technologies
Platforms:   MS Windows (XP, Vista, Win 7, Win 8), Servers 2008/R2, Unix/Linux, AS 400, AWS
Hardware:  IBM, Dell, and Intel based systems; Linux based systems, Cisco Systems, Printers
Software:  MS Office, Spyware, Antivirus, Virus Removal, Cisco Systems, MySQL, MS SQL
Virtualization: VMWare, Oracle VB, MS Hyper-V, Linux ‘libvirt’ Virtualization
Programming: Bash Scripting, PowerShell Scripting, C Programing, ASP with VB and HTML, MS-DOS
Cloud:     Amazon AWS Cloud Computing, MS OneDrive, Dropbox, and Google Drive 


<b><u>PROFESSIONAL EXPERIENCE</u></b>

Whitby Physiotherapy & Chronic Pain Centre              2011 – 2013
Computer Technician / Support  

• Analyzed and resolved technical problems using applications and diagnostic tools 
• Installed and configured networks and operating systems
• Provide computer support for Microsoft Office and Windows XP
• Installing hard drives, video cards and CD-ROMS
• Analyzing and troubleshooting computer difficulties 
• Performed regular maintenance and equipment checks
• Examined components and parts for problems to ensure proper functioning
• Assembling and troubleshooting hardware
• Upgrading Clinic Billing and Tracking Software – Abelmed
• Worked efficiently with staff to achieve daily goals and maintain schedules
• Accurately processed requests in a timely manner

Scarborough Chronic Pain Recovery                       2011 - 2014
Computer Technician / Support

• Analyzed and resolved technical problems using applications and diagnostic tools
• Examined components and parts for problems to ensure proper functioning
• Provide computer support for MS Office and Windows XP
• Commended for providing courteous and helpful service at all time
• Installed and repaired equipment, wiring and other hardware
• Tested systems to determine the cause and location of service trouble
• Ensured safety standards were maintained and reported problems to the supervisor for resolution
• Worked efficiently with staff to achieve daily goals and maintain schedules
• Accurately processed requests in a timely manner

Weston Bakeries Ltd.                                     2006 - 2009
Shipper/Receiver

• Managed multiple tasks in a fast-paced, deadline driven environment
• Shipping and Receiving of goods in a computerized environment 
• Worked efficiently with staff to achieve daily goals and maintain schedules
• Accurately processed and verified orders in a timely manner
• Ensured safety standards were maintained and reported problems to the supervisor for resolution

Rogers Wireless                                           2004 - 2006
Merchandiser 

• Prepare shipping documents & shipping orders using Titan and excel software
• Operating computerized inventory control systems 
• Inspecting and verifying incoming goods against invoices 
• Extensive use of “PC” and “RF” scanner 
• Order picking, packing, and organizing of phones and accessories

REFERENCES AVAILABLE UPON REQUEST

</pre>
</div>